---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <div role='main' class='mb-12'>
    <section>
      <div class='grid grid-cols-12 gap-8'>
        <div class='col-span-12'>
          <p>
            Accommodations can be reserved at a couple of different area hotels.
            &nbsp;Blocks of rooms have been reserved under our names at the
            hotels below. &nbsp;There are also a number of hotels close to the
            event site, if you'd like to chose another. &nbsp;You'll fly into
            Phoenix Sky Harbor Airport (PHX).&nbsp;
          </p>
        </div>
        <div class='col-span-12'>
          <hr />
        </div>
        <div class='col-span-6'>
          <h2>
            <a
              target='_blank'
              href='http://www3.hilton.com/en/hotels/arizona/hilton-scottsdale-resort-and-villas-SCTSHHF/index.html'
              >Hilton Scottsdale Resort &amp; Villas</a
            >
          </h2>
          <p>
            You can either call Hilton reservations at
            (480)&nbsp;948-7750&nbsp;and use the group name of the Carpenter
            Wedding or via this
            <a
              target='_blank'
              href='http://www.hilton.com/en/hi/groups/personalized/S/SCTSHHF-CPT-20150330/index.jhtml?WT.mc_id=POG'
              >link</a
            >.&nbsp;The room rate is $159 per night.
          </p>
          <!-- add google maps back? -->

          <div
            class='sqs-block gallery-block sqs-block-gallery'
            data-block-json='{"hSize":null,"floatDir":null,"methodOption":"transient","existingGallery":null,"design":"slideshow","aspectRatio":null,"autoplay":false,"controls":false,"auto-crop":true,"thumbnails":false,"show-meta":true,"meta-position":"bottom","show-meta-on-hover":false,"collectionId":"5455129de4b0dae8a95c0da0","vSize":null,"transientGalleryId":"5455129de4b0dae8a95c0da0"}'
            data-block-type='8'
            id='block-yui_3_17_2_3_1414861311940_13682'
          >
            <figure>
              <noscript
                >&lt;img
                src="/assets/DT_exterior_677x380_FitToBoxSmallDimension_Center.jpg"
                alt=" The Doubletree Paradise Valley Resort hotel offers luxury,
                resort amenities, and visually stunning Sonoran Desert views on
                22 acres of lush, tropical paradise. " /&gt;</noscript
              >

              <Image
                class='object-cover w-full'
                format='jpg'
                alt=''
                width='677'
                height='380'
                alt=' The Doubletree Paradise Valley Resort hotel offers luxury, resort amenities, and visually stunning Sonoran Desert views on 22 acres of lush, tropical paradise. '
                src='/assets/DT_exterior_677x380_FitToBoxSmallDimension_Center.jpg'
              />

              <figcaption>
                The Doubletree Paradise Valley Resort hotel offers luxury,
                resort amenities, and visually stunning Sonoran Desert views on
                22 acres of lush, tropical paradise.
              </figcaption>
            </figure>

            <figure class='hidden'>
              <noscript
                >&lt;img
                src="/assets/hf_hotelext_1_675x359_FitToBoxSmallDimension_Center.jpg"
                alt=" The hotel is located in the heart of Scottsdale within
                minutes of world class shopping, championship golf, restaurants
                and entertainment. " /&gt;</noscript
              ><Image
                format='jpg'
                alt=''
                width='675'
                height='359'
                alt=' The hotel is located in the heart of Scottsdale within minutes of world class shopping, championship golf, restaurants and entertainment. '
                src='/assets/hf_hotelext_1_675x359_FitToBoxSmallDimension_Center.jpg'
              />
              <div class='meta'>
                <div class='meta-inside'>
                  <div class='meta-description'>
                    <p>
                      The hotel is located in the heart of Scottsdale within
                      minutes of world class shopping, championship golf,
                      restaurants and entertainment.
                    </p>
                  </div>
                </div>
              </div>
            </figure>

            <figure class='hidden'>
              <noscript
                >&lt;img
                src="/assets/HH_kingguest_4_675x359_FitToBoxSmallDimension_Center.jpg"
                alt=" King guest room " /&gt;</noscript
              ><Image
                format='jpg'
                alt=''
                width='675'
                height='359'
                alt=' King guest room '
                src='/assets/HH_kingguest_4_675x359_FitToBoxSmallDimension_Center.jpg'
              />
              <div class='meta'>
                <div class='meta-inside'>
                  <div class='meta-description'>
                    <p>King guest room</p>
                  </div>
                </div>
              </div>
            </figure>

            <figure class='hidden'>
              <noscript
                >&lt;img
                src="/assets/HH_poolandspa_13_675x359_FitToBoxSmallDimension_LowerCenter.jpg"
                alt=" Refreshing outdoor pool and whirlpool " /&gt;</noscript
              ><Image
                format='jpg'
                alt=''
                width='675'
                height='359'
                alt=' Refreshing outdoor pool and whirlpool '
                src='/assets/HH_poolandspa_13_675x359_FitToBoxSmallDimension_LowerCenter.jpg'
              />
              <div class='meta'>
                <div class='meta-inside'>
                  <div class='meta-description'>
                    <p>Refreshing outdoor pool and whirlpool</p>
                  </div>
                </div>
              </div>
            </figure>
          </div>
        </div>
        <div class='col-span-6'>
          <h2>
            <a
              target='_blank'
              href='http://www.marriott.com/hotels/travel/phxrs-residence-inn-scottsdale-paradise-valley/'
              >Residence Inn Scottsdale Paradise Valley</a
            >
          </h2>
          <p>
            Please directly call Marriott Reservations at 1-800- 331-3131 or
            (480) 948-8666 on or before Tuesday,
            <strong>March 2, 2015</strong>, to make reservations. &nbsp;Identify
            yourselves as part of the Griswold/Carpenter Wedding Room Block
            group staying at the Residence Inn Scottsdale Paradise Valley.
            &nbsp;The agreed room rate is $115.
          </p>

          <!-- add back google maps? -->
          <div
            class='sqs-block gallery-block sqs-block-gallery'
            data-block-json='{"hSize":null,"floatDir":null,"methodOption":"transient","existingGallery":null,"design":"slideshow","aspectRatio":null,"autoplay":false,"controls":false,"auto-crop":true,"thumbnails":false,"show-meta":true,"meta-position":"bottom","show-meta-on-hover":false,"collectionId":"5455139ce4b07cee43a7ae51","vSize":null,"transientGalleryId":"5455139ce4b07cee43a7ae51"}'
            data-block-type='8'
            id='block-yui_3_17_2_3_1414861311940_16921'
          >
            <div class='sqs-block-content' id='yui_3_17_2_1_1432850684850_206'>
              <div
                class='sqs-gallery-container sqs-gallery-block-slideshow sqs-gallery-block-show-meta sqs-gallery-block-meta-position-bottom clear'
                id='yui_3_17_2_1_1432850684850_205'
              >
                <div
                  class='sqs-gallery sqs-gallery-design-stacked'
                  id='yui_3_17_2_1_1432850684850_204'
                  style='height: 205.712890625px'
                >
                  <div
                    class='slide content-fill sqs-gallery-design-stacked-slide sqs-active-slide loaded'
                    data-type='image'
                    data-click-through-url=''
                    id='yui_3_17_2_1_1432850684850_203'
                    style='
                                      opacity: 1;
                                      z-index: 889;
                                      overflow: hidden;
                                    '
                  >
                    <noscript
                      >&lt;img
                      src="http://static1.squarespace.com/static/53740ed6e4b02c5d204e3dc2/5455139ce4b07cee43a7ae51/5455139de4b0aa8cb6417d59/1414861726058/phxrs_main01.jpg"
                      alt="phxrs_main01.jpg" /&gt;</noscript
                    >
                    <Image
                      format='jpg'
                      alt=''
                      width='1025'
                      height='550'
                      alt='phxrs_main01.jpg'
                      src='/assets/phxrs_main01.jpg'
                    />
                  </div>

                  <div
                    class='slide content-fill sqs-gallery-design-stacked-slide loaded'
                    data-type='image'
                    data-click-through-url=''
                    id='yui_3_17_2_1_1432850684850_209'
                    style='
                                      opacity: 0;
                                      z-index: 888;
                                      overflow: hidden;
                                    '
                  >
                    <noscript
                      >&lt;img src="/assets/Oz-Architects-PV-1-35.jpg"
                      alt="Oz-Architects-PV-1-35.jpg" /&gt;</noscript
                    ><Image
                      format='jpg'
                      alt=''
                      width='1169'
                      height='726'
                      alt='Oz-Architects-PV-1-35.jpg'
                      src='/assets/Oz-Architects-PV-1-35.jpg'
                    />
                  </div>

                  <div
                    class='slide content-fill sqs-gallery-design-stacked-slide loaded'
                    data-type='image'
                    data-click-through-url=''
                    id='yui_3_17_2_1_1432850684850_211'
                    style='
                                      opacity: 0;
                                      z-index: 888;
                                      overflow: hidden;
                                    '
                  >
                    <noscript
                      >&lt;img src="/assets/bed-and-living-area.jpg"
                      alt="bed-and-living-area.jpg" /&gt;</noscript
                    ><Image
                      format='jpg'
                      alt=''
                      width='550'
                      height='328'
                      alt='bed-and-living-area.jpg'
                      src='/assets/bed-and-living-area.jpg'
                    />
                  </div>

                  <div
                    class='slide content-fill sqs-gallery-design-stacked-slide loaded'
                    data-type='image'
                    data-click-through-url=''
                    id='yui_3_17_2_1_1432850684850_213'
                    style='
                                      opacity: 0;
                                      z-index: 888;
                                      overflow: hidden;
                                    '
                  >
                    <noscript
                      >&lt;img src="/assets/phxrs_phototour22.jpg"
                      alt="phxrs_phototour22.jpg" /&gt;</noscript
                    ><Image
                      format='jpg'
                      alt=''
                      width='610'
                      height='423'
                      alt='phxrs_phototour22.jpg'
                      src='./old/accomodations_files/phxrs_phototour22.jpg'
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col col-span-12'>
          <hr />

          <blockquote>
            To view additional photos in gallery, please click on an
            image.&nbsp;
          </blockquote>
        </div>
      </div>
    </section>
  </div>
  <!-- / pageWrapper -->
</BaseLayout>
