---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout>
  <div id="pageLayout" class="mb-12">
    <section class="columns-3 gap-8">
      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_1910.jpg"
          data-image-dimensions="1200x800"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5130.jpg"
          data-image-dimensions="975x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5138.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5143.jpg"
          data-image-dimensions="1400x674"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5148.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5158.jpg"
          data-image-dimensions="1400x551"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5164.jpg"
          data-image-dimensions="863x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5171.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5172.jpg"
          data-image-dimensions="887x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5182.jpg"
          data-image-dimensions="1400x1046"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5188.jpg"
          data-image-dimensions="1400x896"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5189.jpg"
          data-image-dimensions="1400x1047"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5196.jpg"
          data-image-dimensions="999x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5198.jpg"
          data-image-dimensions="1016x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5209.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/MG_5218.jpg"
          data-image-dimensions="1400x356"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5220.jpg"
          data-image-dimensions="865x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5225.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5226.jpg"
          data-image-dimensions="1400x809"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5237.jpg"
          data-image-dimensions="1400x938"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5239.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5246.jpg"
          data-image-dimensions="1400x688"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5249.jpg"
          data-image-dimensions="1400x1094"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5255.jpg"
          data-image-dimensions="1400x732"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5259.jpg"
          data-image-dimensions="1400x1021"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5263.jpg"
          data-image-dimensions="1400x937"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5268.jpg"
          data-image-dimensions="1400x971"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5272.jpg"
          data-image-dimensions="1400x966"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5289.jpg"
          data-image-dimensions="1005x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5298.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5299.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5300.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5309.jpg"
          data-image-dimensions="1400x862"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5328.jpg"
          data-image-dimensions="833x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5331.jpg"
          data-image-dimensions="1400x1001"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5340.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5345.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5354.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5371.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5374.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5382.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5383.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5385.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5390.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5398.jpg"
          data-image-dimensions="830x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5401.jpg"
          data-image-dimensions="1400x933"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5408.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5409.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5410.jpg"
          data-image-dimensions="1400x1321"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5411.jpg"
          data-image-dimensions="1400x854"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5415.jpg"
          data-image-dimensions="933x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5448.jpg"
          data-image-dimensions="1290x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5461.jpg"
          data-image-dimensions="1318x1400"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_5467.jpg"
          data-image-dimensions="1400x525"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_1802.JPG"
          data-image-dimensions="2500x1667"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_1584.JPG"
          data-image-dimensions="2500x3750"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_1597.JPG"
          data-image-dimensions="2500x1667"
          class="object-cover w-full"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <img
          src="/assets/IMG_1746-2.jpg"
          data-image-dimensions="2500x1667"
          class="object-cover w-full"
        />
      </figure>
    </section>
  </div>
</BaseLayout>

<!-- / pageWrapper -->
