---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
import "../styles/main.css";
---

<BaseLayout>
  <div id="pageWrapper" class="hfeed" role="main">
    <section id="page" data-content-field="main-content">
      <div
        class="sqs-system-gallery sqs-system-gallery-ready"
        id="yui_3_17_2_1_1432850625521_256"
      >
        <div class="gallery-wrapper" id="yui_3_17_2_1_1432850625521_637">
          <!--FULL SIZE IMAGES-->

          <div class="slides-controls" id="yui_3_17_2_1_1432850625521_636">
            <div
              class="slides sqs-gallery-design-autocolumns"
              id="yui_3_17_2_1_1432850625521_275"
              style="height: 2994px;"
            >
              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                style="top: 0px; left: 0px; width: 320px; height: 320px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding4.jpg"
                  width="320"
                  height="320"
                  alt="Sarah and Chuck getting engaged at Falling Water"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                style="top: 0px; left: 340px; width: 320px; height: 213px;"
              >
                <Image
                  format="jpg"
                  alt=""
                  width="320"
                  height="213"
                  src="/assets/322507_10152076651960231_2006393043_o.jpg"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                style="top: 0px; left: 680px; width: 320px; height: 426px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding13.jpg"
                  width="320"
                  height="426"
                  alt=""
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="5393773de4b037015a18a085"
                data-slide-url="1y634cjr7y8x9x04rujzxbuwq1wj5i"
                id="yui_3_17_2_1_1432850625521_283"
                data-type="image"
                style="top: 233px; left: 340px; width: 320px; height: 240px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding3.jpg"
                  alt=""
                  width="320"
                  height="240"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="5393773ee4b052b9630e2bf7"
                data-slide-url="cgbzo0vdnm2vmwtd097ufe29i48uug"
                id="yui_3_17_2_1_1432850625521_285"
                data-type="image"
                style="top: 340px; left: 0px; width: 320px; height: 313px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding5.jpg"
                  alt=""
                  width="320"
                  height="313"
                />
                <div
                  class="slide-meta"
                  data-slide-id="5393773ee4b052b9630e2bf7"
                >
                </div>
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="5393773fe4b052b9630e2bf9"
                data-slide-url="92m7d9i0ed8p16np2lie2j5tkuesaa"
                id="yui_3_17_2_1_1432850625521_287"
                data-type="image"
                style="top: 446px; left: 680px; width: 320px; height: 319px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding7.jpg"
                  alt=""
                  width="320"
                  height="319"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937779e4b037015a18a0e0"
                data-slide-url="g8r7r7mgejfq702j1x5dplxv0o0fvu"
                id="yui_3_17_2_1_1432850625521_289"
                data-type="image"
                style="top: 493px; left: 340px; width: 320px; height: 480px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding20.jpg"
                  alt=""
                  width="320"
                  height="480"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937740e4b037015a18a097"
                data-slide-url="yvip0fw3ijrf0a87wvhw4iy08smbp3"
                id="yui_3_17_2_1_1432850625521_291"
                data-type="image"
                style="top: 673px; left: 0px; width: 320px; height: 426px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding8.jpg"
                  alt=""
                  width="320"
                  height="426"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="5393774ce4b052b9630e2c0f"
                data-slide-url="3acmsxjv1m4v5d1e0vmvltfvm8lpbh"
                id="yui_3_17_2_1_1432850625521_293"
                data-type="image"
                style="top: 785px; left: 680px; width: 320px; height: 426px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding9.jpg"
                  alt=""
                  width="320"
                  height="426"
                />
                <div
                  class="slide-meta"
                  data-slide-id="5393774ce4b052b9630e2c0f"
                >
                </div>
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937754e4b037015a18a0a9"
                data-slide-url="kt1vbo9t2qext9pcvuk3g65ksxa9is"
                id="yui_3_17_2_1_1432850625521_295"
                data-type="image"
                style="top: 993px; left: 340px; width: 320px; height: 240px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding11.jpg"
                  alt=""
                  width="320"
                  height="240"
                />
                <div
                  class="slide-meta"
                  data-slide-id="53937754e4b037015a18a0a9"
                >
                </div>
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="5393775ee4b037015a18a0b3"
                data-slide-url="d9eaes2ab5zrc4ff2afgh6kfye27hl"
                id="yui_3_17_2_1_1432850625521_297"
                data-type="image"
                style="top: 1119px; left: 0px; width: 320px; height: 256px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding14.jpg"
                  alt=""
                  width="320"
                  height="256"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937762e4b037015a18a0bc"
                data-slide-url="7bbm6kvwrda92z5vbumq7t353mxyty"
                id="yui_3_17_2_1_1432850625521_299"
                data-type="image"
                style="top: 1231px; left: 680px; width: 320px; height: 320px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding15.jpg"
                  alt=""
                  width="320"
                  height="320"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937762e4b037015a18a0be"
                data-slide-url="ua4nmu4yhejpzyx3x1ndxldob8ba1q"
                id="yui_3_17_2_1_1432850625521_301"
                data-type="image"
                style="top: 1253px; left: 340px; width: 320px; height: 320px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding16.jpg"
                  alt=""
                  width="320"
                  height="320"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0bc5c2930aa05"
                data-slide-url="op5bg2fbkty7irnovw1pw9njib2a0y"
                id="yui_3_17_2_1_1432850625521_303"
                data-type="image"
                style="top: 1395px; left: 0px; width: 320px; height: 480px;"
              >
                <Image
                  format="jpg"
                  src="/assets/397247_10151084975010231_1266663476_n.jpg"
                  alt=""
                  width="320"
                  height="480"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ae4b0902ebea33348"
                data-slide-url="c2xy7me6ml7ncr0j7zgh7k1qtyladz"
                id="yui_3_17_2_1_1432850625521_305"
                data-type="image"
                style="top: 1571px; left: 680px; width: 320px; height: 269px;"
              >
                <Image
                  format="jpg"
                  src="/assets/184155_10150734256945231_3588792_n.jpg"
                  alt=""
                  width="320"
                  height="269"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1be4b0bc5c2930aa01"
                data-slide-url="6eowkpzgiatg6s0q2weo51ncaohwpp"
                id="yui_3_17_2_1_1432850625521_307"
                data-type="image"
                style="top: 1593px; left: 340px; width: 320px; height: 426px;"
              >
                <Image
                  format="jpg"
                  src="/assets/219914_10150156986216088_5348816_o.jpg"
                  alt=""
                  width="320"
                  height="426"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0902ebea3334f"
                data-slide-url="xxn9s6yx4f4hyv1i8hpjqnew0ayprv"
                id="yui_3_17_2_1_1432850625521_309"
                data-type="image"
                style="top: 1860px; left: 680px; width: 320px; height: 480px;"
              >
                <Image
                  format="jpg"
                  src="/assets/334553_10152076653260231_1427827258_o.jpg"
                  alt=""
                  width="320"
                  height="480"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0bc5c2930aa03"
                data-slide-url="9to9vhwf0vnvlm3lor4k63ri6uuo8q"
                id="yui_3_17_2_1_1432850625521_311"
                data-type="image"
                style="top: 1895px; left: 0px; width: 320px; height: 240px;"
              >
                <Image
                  format="jpg"
                  src="/assets/386773_10151978213635596_113340583_n.jpg"
                  alt=""
                  width="320"
                  height="240"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0902ebea33351"
                data-slide-url="abro824xs4cwp97j4d9brjw2k59mah"
                id="yui_3_17_2_1_1432850625521_313"
                data-type="image"
                style="top: 2039px; left: 340px; width: 320px; height: 462px;"
              >
                <Image
                  format="jpg"
                  src="/assets/417958_10152799058240231_92470442_n.jpg"
                  alt=""
                  width="320"
                  height="462"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0681fc9bb0d8d"
                data-slide-url="aq78gf1nuat1umjoyhtzs1yz7luxr3"
                id="yui_3_17_2_1_1432850625521_315"
                data-type="image"
                style="top: 2155px; left: 0px; width: 320px; height: 320px;"
              >
                <Image
                  format="jpg"
                  src="/assets/421990_10152755927075231_1814013333_n.jpg"
                  alt=""
                  width="320"
                  height="320"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1de4b0bc5c2930aa0c"
                data-slide-url="wth6i3i6tolm02hmd4q9rts7wyx55k"
                id="yui_3_17_2_1_1432850625521_317"
                data-type="image"
                style="top: 2360px; left: 680px; width: 320px; height: 479px;"
              >
                <Image
                  format="jpg"
                  src="/assets/882761_10101787370691702_967436665_o.jpg"
                  alt=""
                  width="320"
                  height="479"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1ce4b0681fc9bb0d8f"
                data-slide-url="3oqa9w0osov169zt4iw9pj7so33qmq"
                id="yui_3_17_2_1_1432850625521_319"
                data-type="image"
                style="top: 2495px; left: 0px; width: 320px; height: 213px;"
              >
                <Image
                  format="jpg"
                  src="/assets/1044584_10151546083709862_1748528242_n.jpg"
                  alt=""
                  width="320"
                  height="213"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1de4b0681fc9bb0d91"
                data-slide-url="dd34rorxjd6577lbiyt5tfhh3dc8sy"
                id="yui_3_17_2_1_1432850625521_321"
                data-type="image"
                style="top: 2521px; left: 340px; width: 320px; height: 240px;"
              >
                <Image
                  format="jpg"
                  src="/assets/1239797_10151653529956088_1595883439_n.jpg"
                  alt=""
                  width="320"
                  height="240"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53948a1de4b0bc5c2930aa0e"
                data-slide-url="rw7ezmem8sz9ezfvt2c4bo7a3wzh3o"
                id="yui_3_17_2_1_1432850625521_323"
                data-type="image"
                style="top: 2728px; left: 0px; width: 320px; height: 240px;"
              >
                <Image
                  format="jpg"
                  src="/assets/1453359_10202493254597769_156710479_n.jpg"
                  alt=""
                  width="320"
                  height="240"
                />
              </div>

              <div
                class="slide sqs-gallery-design-autocolumns-slide"
                data-slide-id="53937775e4b052b9630e2c4c"
                data-slide-url="ots8b6d0j8z04o9yvv9imexbgflgc5"
                id="yui_3_17_2_1_1432850625521_325"
                data-type="image"
                style="top: 2781px; left: 340px; width: 320px; height: 213px;"
              >
                <Image
                  format="jpg"
                  src="/assets/wedding19.jpg"
                  alt=""
                  width="320"
                  height="213"
                />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- / pageWrapper -->
</BaseLayout>
