---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout>
  <div role="main" class="mb-12">
    <section class="columns-3 gap-1">
      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding4.jpg"
          width="320"
          height="320"
          alt="Sarah and Chuck getting engaged at Falling Water"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          alt=""
          width="320"
          height="213"
          src="/assets/322507_10152076651960231_2006393043_o.jpg"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding13.jpg"
          width="320"
          height="426"
          alt=""
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding3.jpg"
          alt=""
          width="320"
          height="240"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding5.jpg"
          alt=""
          width="320"
          height="313"
        />
        <div class="slide-meta" data-slide-id="5393773ee4b052b9630e2bf7"></div>
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding7.jpg"
          alt=""
          width="320"
          height="319"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding20.jpg"
          alt=""
          width="320"
          height="480"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding8.jpg"
          alt=""
          width="320"
          height="426"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding9.jpg"
          alt=""
          width="320"
          height="426"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding11.jpg"
          alt=""
          width="320"
          height="240"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding14.jpg"
          alt=""
          width="320"
          height="256"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding15.jpg"
          alt=""
          width="320"
          height="320"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding16.jpg"
          alt=""
          width="320"
          height="320"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/397247_10151084975010231_1266663476_n.jpg"
          alt=""
          width="320"
          height="480"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/184155_10150734256945231_3588792_n.jpg"
          alt=""
          width="320"
          height="269"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/219914_10150156986216088_5348816_o.jpg"
          alt=""
          width="320"
          height="426"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/334553_10152076653260231_1427827258_o.jpg"
          alt=""
          width="320"
          height="480"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/386773_10151978213635596_113340583_n.jpg"
          alt=""
          width="320"
          height="240"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/417958_10152799058240231_92470442_n.jpg"
          alt=""
          width="320"
          height="462"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/421990_10152755927075231_1814013333_n.jpg"
          alt=""
          width="320"
          height="320"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/882761_10101787370691702_967436665_o.jpg"
          alt=""
          width="320"
          height="479"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/1044584_10151546083709862_1748528242_n.jpg"
          alt=""
          width="320"
          height="213"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/1239797_10151653529956088_1595883439_n.jpg"
          alt=""
          width="320"
          height="240"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/1453359_10202493254597769_156710479_n.jpg"
          alt=""
          width="320"
          height="240"
        />
      </figure>

      <figure class="grid grid-rows-1 mb-12">
        <Image
          format="jpg"
          src="/assets/wedding19.jpg"
          alt=""
          width="320"
          height="213"
        />
      </figure>
    </section>
  </div>
</BaseLayout>

<!-- / pageWrapper -->
