---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";
---

<BaseLayout>
  <section role="main" class="mb-12">
    <div class="grid grid-cols-12 gap-4">
      <h1 class="col-span-12">Things to do while in Phoenix</h1>
      <div class="col-span-12">
        <hr />
      </div>

      <div class="col-span-6">
        <p>
          <span
            ><span style="font-size: 15px"
              >Arizona is known for its sunshine, dry heat, cactus, incredible
              Mexican food, world-class sunsets, and gorgeous star-gazing. For
              many of our friends and family, it might your first time to the
              desert so, listed below, are a few suggestions that we have put
              together to help steer you in the right direction. But please feel
              free to reach out via email
            </span>
            <a href="mailto:sarahgris19@gmail.com"
              ><span style="font-size: 15px">sarahgris19@gmail.com</span></a
            ><span style="font-size: 15px">
              if you have any questions, or want more specifics.
            </span></span
          >
        </p>
        <ul dir="ltr">
          <li>
            <p>
              <span
                ><a href="http://www.chuckandsarah.us/what-to-do/#"
                  ><span style="font-size: 15px">Taliesin West:</span></a
                ><span style="font-size: 15px"
                  >&nbsp;Where we celebrated our first anniversary</span
                ></span
              >
            </p>
          </li>
        </ul>
      </div>

      <div class="col-span-6">
        <img src="/assets/phoenix.png" data-image-dimensions="366x232" />
      </div>

      <div class="col-span-12 my-12">
        <figure>
          <img src="/assets/taliesin.jpeg" data-image-dimensions="2048x598" />
          <figcaption>
            Frank Lloyd Wright's Taliesin West - Scottsdale, AZ
          </figcaption>
        </figure>
      </div>

      <div class="col-span-6">
        <ul>
          <li>
            <span
              ><span style="font-size: 15px"
                >Hike Camelback Mountain - &nbsp;the mountain that will our
                backdrop for the wedding ceremony</span
              ></span
            >
          </li>
          <li>
            <p>
              <span
                ><span style="font-size: 15px"
                  ><a href="http://www.nps.gov/grca/index.htm">Grand Canyon</a>
                  - of course you should see one of the seven wonders of the world
                  while you’re here!
                </span><span style="font-size: 15px"
                  >&nbsp;This is easily a full day trip - a 3.5 hour drive to
                  the south rim from Phoenix</span
                ></span
              >
            </p>
          </li>
          <li>
            <p>
              <span
                ><span style="font-size: 15px"
                  >If you have time, Jerome and Paige Springs are about
                  a&nbsp;1½ hour drive north from Phoenix and have AMAZING
                  vineyards and wineries (one of our favorite day dates
                  together!)
                </span></span
              >
            </p>
            <ul>
              <li>
                <p>
                  <a href="http://www.chuckandsarah.us/what-to-do/#"
                    ><span style="font-size: 15px">Arizona Stronghold</span></a
                  >
                </p>
              </li>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      ><a href="http://pagespringscellars.com/"
                        >Page Springs Cellars</a
                      >
                      &nbsp; &nbsp;</span
                    ></span
                  >
                </p>
              </li>
              <li>
                <a href="https://caduceus.org/">Caduceus</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-span-6">
        <figure>
          <img
            class="object-contain w-full"
            src="/assets/1408226419008-phxdc5-69pfylw8tqx2tywgb7-original.jpg"
          />
          <figcaption>
            Page Springs Cellars vineyard - &nbsp;Page Springs, AZ
          </figcaption>
        </figure>
      </div>
      <div class="col-span-12">
        <ul>
          <li>
            <p>
              <span
                ><span style="font-size: 15px"
                  >Shopping - AZ has great outdoor shopping at Kierland Commons
                  (15205 N Kierland Blvd, Scottsdale AZ 85254), OR a 3 level
                  shopping extravaganza at Fashion Square (7014 East Camelback
                  Rd Scottsdale AZ 85251)</span
                ></span
              >
            </p>
          </li>
          <li>
            <p>
              <span
                ><span style="font-size: 15px"
                  >FOOD! if you know us, then you know we like a good meal! Here
                  are some suggestions for outstanding dining in the Phoenix
                  area;</span
                ></span
              >
            </p>
            <ul>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      >Mexican - Really anywhere, but
                      <a href="http://barriocafe.com/barriocaf233.html"
                        >Barrio Cafe</a
                      >
                      is our favorite, and has been featured as one of the best in
                      the country</span
                    ></span
                  >
                </p>
              </li>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      ><a href="http://www.foxrc.com/">Sam Fox Restaurants</a>
                      - sort of a big deal out west, and any Arizona native knows
                      and loves his restaurants. Predictably yummy food, cool atmosphere,
                      and many different food styles to choose from. A few of our
                      favorites include; True Food Kitchen, ZinBurger wine &amp;
                      burger bar, Wildflower, Olive &amp; Ivy, and (of course!) Blanco
                      tacos &amp; tequila</span
                    ></span
                  >
                </p>
              </li>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      >Fancy Hot Pockets anyone?
                      <a href="http://www.cornishpastyco.com/"
                        >Cornish Pasty Company</a
                      >
                      has a few locations, delish pastys, and a great beer selection&nbsp;</span
                    ></span
                  >
                </p>
              </li>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      >Sarah’s favorite little spot -
                      <a href="http://www.cowboyciao.com/">Cowboy Ciao</a
                      >.&nbsp;</span
                    ><span style="font-size: 15px"
                      >&nbsp;We suggest you&nbsp;try to make it over for lunch
                      or dinner (they even have a location in the airport now!)
                      “Stetson Chopped Salad” - JUST DO IT! But honestly,
                      everything is amazing and they have a wine list the size
                      of an encyclopedia.&nbsp;</span
                    ></span
                  >
                </p>
              </li>
              <li>
                <p>
                  <span
                    ><span style="font-size: 15px"
                      >If you’re looking for something fancy-
                      <a
                        href="http://www.arizonabiltmore.com/restaurants-and-dining/wrights-at-the-biltmore/"
                        >Wright’s at the Biltmore</a
                      >,&nbsp;</span
                    >
                    <span style="font-size: 15px"
                      >where we had our first date on NYE 2010 → 2011</span
                    >
                  </span>
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- add carousel -->
    <!-- <div class="col-span-12">
      <img
        data-image-dimensions="720x404"
        src="/assets/6853805325_5becc4c1c1_b.jpg"
      />
      <img
        class="thumb-image loaded"
        data-image-dimensions="640x478"
        src="/assets/5425726619_fcab8183c0_z.jpg"
      />
      <img
        class="thumb-image loaded"
        data-image-dimensions="736x736"
        src="/assets/d02c4ec36994ec4c709b6f24963269d2.jpg"
      />
      <img
        class="thumb-image loaded"
        data-image-dimensions="640x425"
        src="/assets/3962634724_ffd468d224_z.jpg"
      />
      <img
        class="thumb-image loaded"
        data-image-dimensions="640x480"
        src="/assets/2398413869_3417681627_z.jpg"
      />
    </div> -->
  </section>
</BaseLayout>

<!-- / pageWrapper -->
