---
import Header from "../components/Header.astro";
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sarah &amp; Chuck</title>
    <meta
      name="description"
      content="The wedding website for the future Mr and Mrs Carpenter."
    />
  </head>
  <body
    class="underline-body-links blog-meta-data-split hide-author social-icon-style-round gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-circles gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-circular gallery-transitions-fade gallery-show-arrows gallery-auto-crop gallery-loop product-design-version-is-legacy product-list-gallery-grid product-list-layout-ratio-thirds product-item-size-11-square product-image-auto-crop product-list-titles-under product-list-alignment-center product-list-text-alignment-left show-product-price product-item-gallery-slideshow product-item-image-alignment-left product-item-carousel-crop product-gallery-size-11-square product-gallery-auto-crop product-item-stacked-banner product-item-image-zoom product-item-thumbnails-left product-item-text-alignment-left product-item-excerpt-alignment-left product-item-excerpt-position-middle show-product-item-nav product-social-sharing product-list-status-rectangle product-list-status-placement-top-right product-list-status-flag-placement-top-right product-list-status-banner-placement-top event-thumbnails event-thumbnail-size-11-square event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address event-icalgcal-links event-excerpts event-item-back-link opentable-style-light newsletter-style-dark small-button-style-solid small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square button-style-solid button-corner-style-rounded native-currency-code-usd collection-539376ece4b0e30215371aa6 collection-type-gallery collection-layout-default homepage view-list mobile-style-available"
  >
    <div id="site">
      <div id="canvas">
        <Header />
        <slot />
        <footer id="footer">
          <div class="row">
            <div class="col col-12 span-12">
              <p class="text-align-center">
                Made with <a href="https://astro.build">Astro</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
      <!-- / canvas -->
    </div>
  </body>
</html>
