<div id="footerWrapper">
    <footer id="footer">
        <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1357768787650" id="footerBlock"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-b4c586d9d5f1be28bd21"><div class="sqs-block-content">
            <p class="text-align-center">Powered by <a href="http://github.com/chuckcarpenter" data-link-type="external">Github</a></p>
            </div></div></div></div>
        </div>
    </footer>
</div><!-- / footerWrapper -->
